.tournament-container {
    width:95%;
    margin: 0 auto;
}
table {
    width: 100%;
}
a {
    font-weight: 600;
}
.page-content {
    width:80%;
    margin: 0 auto;
}
.tournament-table {
    overflow-x: scroll;
    padding: 10px;
    border-radius: 5px;;
}