table {
  width: 100%;
  border: thin ridge gray;
  text-align: center;
  padding: 50px;
}
tr {
  border: thin ridge gray;
}
td {
  border: thin ridge gray;
}
.restart-span{
  cursor: pointer;
  font-weight: 600;
}
.puzzle-container {
  max-height: 350px;
  overflow-x: scroll;
  padding: 15px;
}
.puzzles {
  display: inline-block;
  margin: 10px;;
}
.warning {
  color: #b34f4f;;
}
.warning-container {
  width: 400px;
}

@media (max-width: 767px) {
  .warning-container {
    width: 100%;
  }
}
