.form-container {
    margin: 15px;
}
.form-field {
    width: 98%;
}
@media(max-width:767px) {
    .form-field {
        width: 100%;
    }   
}
table {
    width: 100%;
}

.mat-table {
    background: none !important;
}
tr.mat-header-row {
    background-color: #40475A;
}
.player-grid {
    max-height: 550px;
    overflow-y: scroll;
}
a {
    color : #ffffff;
    font-weight: 600;
}
.tournament-table {
    overflow-x: scroll;
    padding: 10px;
    border-radius: 5px;;
}
.tournament-grid {
    overflow-x: scroll;
}