.moves-played-text {
    width:98%;
    margin: 0 auto;
    margin-top:15px;
}
.big-row-button {
    font-weight: 700;
    font-size: 26px;
    line-height: 80px;
    transform: rotate(-0.34deg);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.moves {
    border-radius: 5px;
    padding:10px;
}