.game-explorer{
    margin:50px;
}
.game-explorer-container {
    max-width: 95%;
    display: block;
    margin: 0 auto;
    margin-top:100px;
    margin-bottom:100px;
}
.moves-played-text {
    width:98%;
    margin: 0 auto;
    margin-top:15px;
}
.moves-holder {
    padding:15px 5px 15px 5px;
    border-radius: 5px;
}
.moves-label-list {
    margin-top: 15px;
}