<a routerLink="/search/collections/{{collection.collectionId}}/{{collection.name|slugify}}" (click)="recordCollectionClick(collection)">
  <mat-card class="collection-card pop">
    <mat-card-header>
      <div mat-card-avatar class="collection-header-image"></div>
      <mat-card-title>
        
          {{collection.name}}
        
      </mat-card-title>
      <mat-card-subtitle>{{collection.gameIdList.length}} Games</mat-card-subtitle>        
    </mat-card-header>
    <mat-card-content>
      <p>
        {{collection.description}}
      </p>
    </mat-card-content>
  </mat-card>  
</a>