.player-container {
    width:85%;
    margin : 0 auto;
}

.player-details {
    margin-left: 25px;
    max-width: 350px;
    margin-top:25px;
}
table {
    width: 100%;
}

.mat-table {
    background: none !important;
}
tr.mat-header-row {
    background-color: #40475A;
}