.active {
    background-color: #FC7343;
}
.game-mode-button {
    height: 90px;
    font-size: large;
    font-family: 'constantine';
    line-height: 90px;
    text-align: center;
    cursor: pointer;
}
.selector {
    height : 45px;
    width: 100%;
}