<div class="collection-container" *ngIf="collection; else loading">
    <h1>{{collection.name}}</h1>
    <div class="collection-description">
        <p>
            {{collection.description}}
        </p>
    </div>
    <div class="spacer"></div>
    <div class="collection-explorer">
        <div *ngIf="allFensLoaded && allGamesFetched; else showLoadingGames">
            <div class="row">
                <div class="col-10">
                    <h3 *ngIf="showExplorer"> Explore Selected Games </h3>
                </div>
                <div class="col-2">
                    <mat-slide-toggle (change)="toggleExplorer($event)">Hide Explorer</mat-slide-toggle>
                </div>
            </div>


            <div class="row" *ngIf="showExplorer">
                <div class="col-sm-12 col-md-6 ">
                    <app-chess-board [allowPlay]="true" #board [fen]="currentFen" [score]="score" [showScore]="engineOn" (onMoveEx)="onMoveEx($event)"></app-chess-board>
                </div>
                <div class="col-sm-12 col-md-6 pop" style="max-height: 350px;padding-top: 15px; overflow-y: scroll;">
                    <table>
                        <tr>
                            <td>
                                <mat-slide-toggle (change)="startEngine($event)">Start Engine</mat-slide-toggle>
                            </td>
                            <td>
                                <div class="pop fab"  style="float: right;"  (click)="undo(board)">
                                    <mat-icon>undo</mat-icon>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <app-move-label-list-box [moveDetailList]="currentMoves" [currentMoveIndex]="currentMoveIndex" *ngIf="currentMoves" (onMoveSelect)="onMoveSelect($event, board)">

                                </app-move-label-list-box>
                            </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <app-square-ads></app-square-ads>
                          </td>
                        </tr>
                    </table>



                </div>
            </div>
            <div class="spacer"></div>
            <h3> Games Details</h3>
            <div class="filtered-games">
                <table mat-table [dataSource]="filteredGames" class="mat-elevation-z8 player-grid">
                    <ng-container matColumnDef="whitePlayer">
                      <th mat-header-cell *matHeaderCellDef> White Player. </th>
                      <td mat-cell *matCellDef="let element"> {{element.whitePlayer.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="blackPlayer">
                      <th mat-header-cell *matHeaderCellDef> Black Player </th>
                      <td mat-cell *matCellDef="let element"> {{element.blackPlayer.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="eco">
                      <th mat-header-cell *matHeaderCellDef> ECO </th>
                      <td mat-cell *matCellDef="let element"> {{element.eco}} </td>
                    </ng-container>

                    <ng-container matColumnDef="result">
                      <th mat-header-cell *matHeaderCellDef> Result </th>
                      <td mat-cell *matCellDef="let element"> {{element.result}} </td>
                    </ng-container>

                    <ng-container matColumnDef="year">
                        <th mat-header-cell *matHeaderCellDef> Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.date|dateYear}} </td>
                      </ng-container>

                    <ng-container matColumnDef="moveCount">
                        <th mat-header-cell *matHeaderCellDef> Move Count </th>
                        <td mat-cell *matCellDef="let element"> {{element.moves.length | moveCount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tournament">
                        <th mat-header-cell *matHeaderCellDef> Tournament </th>
                        <td mat-cell *matCellDef="let element"> {{element.tournament.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="categories">
                        <th mat-header-cell *matHeaderCellDef> Categories </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.categories">
                                <div *ngFor="let item of element.categories">
                                    {{item | formatGameType}}
                                </div>
                            </div>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="sacrifices">
                        <th mat-header-cell *matHeaderCellDef> Sacrificed Pieces </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.sacrifices">
                                <span *ngFor="let item of element.sacrifices">
                                    {{item.piece | capitalize}} Sac
                                </span>
                            </div>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="gameLink">
                        <th mat-header-cell *matHeaderCellDef> Check Game </th>
                        <td mat-cell *matCellDef="let element"> <a routerLink="/tools/games/{{element.gameId}}/{{element.whitePlayer.name}}_vs_{{element.blackPlayer.name}}" (click)="recordGameClick(element)">Check Games </a> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
        <app-page-section pageSlug="{{collection.name|slugify}}"></app-page-section>
        <ng-template #showLoadingGames>
            <app-loader></app-loader>
        </ng-template>
    </div>

</div>
<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
