.collection-container {
    width: 90%;
    margin:0 auto;    
}
.collection-description {
    margin-top: 25px;
    font-size: medium;
}
.spacer {
    height: 50px;
}
.collection-explorer {
    width: 80%;
    margin:0 auto; 
    margin-bottom: 15px;
}
hr {
    border : thin ridge #555;

}
.collection-box {
    margin:10px;
}
table {
    width: 100%;
}
a {
    color : #ffffff;
    font-weight: 600;
}