.study-desc {
    height: 30px;
    line-height: 30px;
    font-size: small;
}
.detail-icon {
    display: inline-block;
}
.detail-value {
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 10px;
}

@media only screen and (min-width: 992px) {
    .date-desc {
        text-align: right;
    }
}


.study-content {
    margin-top :25px;
}