.game-explorer{
    margin:50px;
}
.game-explorer-container {
    max-width: 95%;
    display: block;
    margin: 0 auto;
    margin-bottom:100px;
}
.moves-played-text {
    width:98%;
    margin: 0 auto;
    margin-top:15px;
}
.moves-holder {
    padding:15px 5px 15px 5px;
    border-radius: 5px;
}
.moves-label-list {
    margin-top: 15px;
}
.stock-fish-eval {
    padding:10px;
    width:98%;
}
.moves-container {
    width:95%;
    margin-top:15px;
}
.novelty {
    background-color: aqua !important;
}