<div class="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4">
                <ul class="foter-column" style="list-style: none !important;">
                    <li style="list-style: none !important;"><strong>Menu</strong></li>
                    <li><a routerLink="/articles/weekly-chesses">Game of the week</a></li>
                    <li><a routerLink="/search/tournaments" >Tournaments</a></li>
                    <li><a routerLink="/search/players">Players</a></li>
                    <li><a routerLink="/search/articles">Blogs</a></li>
                    <li><a routerLink="/pages/about-scripchess">About us</a></li>
                    <li><a routerLink="/pages/contact-us">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-4 col-md-4">
                <ul class="foter-column" style="list-style: none !important;">
                    <li style="list-style: none !important;"><strong>Credits</strong></li>
                    <li>Database by<a href="https://github.com/kgcorner/chess-db" target="top"> Chess-db</a> </li>
                    <li><a href="https://github.com/jhlywa/chess.js" target="top">Chess.js</a> </li>
                    <li><a href="https://github.com/oakmac/chessboardjs" target="top">Chessboardjs</a> </li>
                    <li><a href="https://github.com/supertorpe/chessendgametraining" target="top">Chess Endgame Training</a> </li>
                    <li><a href="https://www.flaticon.com" target="top">Icons by Flaticon</a> </li>
                    <li><a href="https://stockfishchess.org/" target="top">Engine by Stockfish</a> </li>
                </ul>
            </div>

            <div class="col-12 col-sm-4 col-md-4">
                <ul class="foter-column" style="list-style: none !important;">
                    <li style="list-style: none !important;"><strong>Social</strong></li>
                    <div class="row">
                        <div class="col-2">
                            <li><a href="https://www.facebook.com/profile.php?id=100090904163518" target="top"> <img src="/assets/images/facebook.png" class="social-logo" alt="facebook" /></a> </li>
                        </div>
                        <div class="col-2">
                            <li><a href="https://www.instagram.com/scriptchesscom/" target="top"><img src="/assets/images/instagram.png"  class="social-logo"  alt="instagram" /></a> </li>        
                        </div>
                        <div class="col-2">
                            <li><a href="https://twitter.com/scriptchesscom" target="top"><img src="/assets/images/twitter.png"  class="social-logo"  alt="instagram" /></a> </li>        
                        </div>
                    </div>
                    
                    
                </ul>
            </div>

            <!-- <div class="col-sm-12 col-md-4">
                <strong>Mailing List</strong>
                <div class="form" style="margin-top:15px">
                    <mat-form-field class="form-field" appearance="fill"  style="width: 98%; margin: 0 auto; display: block;">
                        <mat-label>Enter Email</mat-label>
                        <input matInput type="text">  
                    </mat-form-field>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="small-button"> Subscribe</div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>