.hero-image {
    max-width: 50%;
    display:block;
    margin: 0 auto;
}
.page-container {
    width: 85%;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}
.author-name, .article-date {
    color:#aaa;
}
.author-name::before {
    font-family: "Material Symbols Outlined";
    content: "\e853";
    margin-right: 3px;
}

.article-date::before {
    font-family: "Material Symbols Outlined";
    content: "\ebcc";
    margin-right: 3px;
}
.clear {
    clear: both;
    height:25px;
}

table {
    border:none !important;
}