.form-container {
    margin: 15px;
}
.form-field {
    width: 98%;
}
table {
    width: 100%;
}
.search-box {
    margin-bottom: 15px;
}
.mat-table {
    background: none !important;
}
tr.mat-header-row {
    background-color: #40475A;
}
.player-grid {
    max-height: 720px;
    overflow-y: scroll;
}
.players-container {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
a {
    color : #ffffff;
    font-weight: 600;
}