<div class="container">
  <h1>Reset Password</h1>
  <div class="row" *ngIf="!emailSent;else emailWasSent">
    <mat-form-field class="form-field" appearance="fill" style="width: 98%; margin: 0 auto; display: block;">
      <mat-label>Your Username</mat-label>
      <input matInput type="text" [(ngModel)]="username" >
    </mat-form-field>
  </div>
  <ng-template #emailWasSent>
    <mat-form-field class="form-field" appearance="fill" style="width: 98%; margin: 0 auto; display: block;">
      <mat-label>Your Username</mat-label>
      <input matInput type="text" [(ngModel)]="username" readonly="true" >
    </mat-form-field>
  </ng-template>
  <div class="row" *ngIf="!emailSent">
    <div class="small-button pop" (click)="startRecovery()">
      Start Recovery
    </div>
  </div>
  <div class="loader" *ngIf="sendingEmail">
    <app-loader></app-loader>
  </div>

  <div class="clear">

  </div>

  <div class="container" *ngIf="emailSent && !passwordResetCompleted">
    <h3>A Secret token has been sent to your email. Please use that token to reset your password</h3>
    <div class="clear">
    </div>

    <div class="row">
      <mat-form-field class="form-field" appearance="fill" style="width: 98%; margin: 0 auto; display: block;">
        <mat-label>Secret</mat-label>
        <input matInput type="text" [(ngModel)]="secret" >
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="form-field" appearance="fill" style="width: 98%; margin: 0 auto; display: block;">
        <mat-label>New Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" >
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="form-field" appearance="fill" style="width: 98%; margin: 0 auto; display: block;">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" [(ngModel)]="cPassword" >
      </mat-form-field>
    </div>
    <div class="row">
      <div class="small-button pop" (click)="resetPassword()">
        Reset password
      </div>
    </div>
  </div>
  <div class="success" *ngIf="passwordResetCompleted">
    <h2>Your password has been updated Successfully. Please <a routerLink="/sign-in">Sing in </a></h2>
  </div>
</div>
