.collections-container {
    width: 90%;
    margin:0 auto;       
}
.sub-title {
    margin-top: 25px;
    font-size: medium;
}
.spacer {
    height: 50px;
}
.collections-holder {
    width: 90%;
    margin:0 auto; 
    margin-bottom: 15px;
}
hr {
    border : thin ridge #555;

}
.collection-box {
    margin:10px;
}